main > section:nth-child(1) {
  height: 550vh;
}
main > section:nth-child(2) {
  height: 1900vh;
}
main > section:nth-child(3) {
  height: 1500vh;
}
main > section:nth-child(4) {
  height: 200vh;
}
main > section:nth-child(5) {
  height: 150vh;
}

/* intro */

#intro #beyondWords {
  text-align: center;
  font-size: 60px;
  line-height: 1;
}

#intro #beyondWords div:nth-child(1) {
  margin-bottom: 40px;
}

#intro #beyondWords div:nth-child(1) > span {
  background-image: linear-gradient(white, 60%, #3b3b3b);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#intro #mouseWheelIcon {
  position: absolute;
  bottom: 40px;
  text-align: center;
}

#intro #mouseWheelIcon div:nth-child(1) {
  width: 20px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 12px;
}

#intro #mouseWheelIcon div:nth-child(1) > div {
  width: 4px;
  height: 12px;
  border-radius: 12px;
  background-color: white;
  animation: 1.3s flowdown infinite;
}

#intro #mouseWheelIcon div:nth-child(2) {
  transform: rotateX(180deg);
}

#intro #text1 {
  margin-bottom: 10px;
  opacity: 0;
}

#intro #text2 {
  opacity: 0;
}

@media (min-width: 640px) {
  #intro #beyondWords {
    font-size: 192px;
  }
}

@keyframes flowdown {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50%);
    opacity: 0;
  }
}
